@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Madimi+One&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* General styles */
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        /* Generic project styles */
        color: #E0CFA8;
        font-family: 'Dosis', sans-serif;
    }

}
/* Header */
header {
    background-color: #d99F39;
    padding: 0rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 3px rgba(217, 159, 57, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header a {
    text-decoration: none;
    color: #51422C;
}

h1 {
    font-family: 'Madimi One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #51422C;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #51422C;
}

/* Navbar dropdown toggle */
nav {
    position: absolute;
    background-color: #d99F39;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 1px 3px rgba(217, 159, 57, 0.7);
    display: none;
    top: 100%;
}
/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;
}


/* Main content */
main {
    background-color: #51422C;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 45px;
}

/* Footer */
footer {
    background-color: #d99F39;
}
/* Media query for mobile devices (max-width: 767px) */
@media screen and (max-width: 767px) {
    /* Adjust font size for mobile devices */
    .logo-text {
        font-size: 20px;
        /* Adjust margin as needed */
        margin-left: 3px; 
    }
    /* Adjust margin to center the toggle button */
    .nav-toggle-label {
        margin-right: 10px; 
    }
}

/* Media query for tablets (768px and above) */
@media screen and (min-width: 768px) {
    /* Adjust font size for tablets */
    .logo-text {
        font-size: 32px;
    }

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down for header */
        margin-top: 79px;
    }
}

/* Media query for laptops and desktops (992px and above) */
@media screen and (min-width: 992px) {
    /* Adjust font size for laptops and desktops */
    .logo-text {
        font-size: 40px;
    }

    /* Add hover effect for menu items */
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}
